In [226]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
import time
import numpy as np

from webdriver_manager.chrome import ChromeDriverManager

In [188]:
options = webdriver.ChromeOptions()
options.set_capability(
    "goog:loggingPrefs", {"performance": "ALL", "browser": "ALL"}
)


driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()), options=options)

In [189]:
driver.set_page_load_timeout(10)

try:
    driver.get("https://fbref.com/en/comps/12/stats/La-Liga-Stats")
except:
    pass

In [190]:
time.sleep(5)

html = driver.page_source
clean_html = html.replace('', '')
df_list = pd.read_html(clean_html, attrs={'id': 'stats_standard'})
df = df_list[0]

/tmp/ipykernel_4527/2857453918.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_list = pd.read_html(clean_html, attrs={'id': 'stats_standard'})

In [191]:
df

    Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                    Rk               Player             Nation
0                    1  Jones El-Abdellaoui             ma MAR
1                    2          Abdel Abqar             ma MAR
2                    3           Akor Adams             ng NGA
3                    4    David Affengruber             at AUT
4                    5   Julen Agirrezabala             es ESP
..                 ...                  ...                ...
515                497         Lamine Yamal             es ESP
516                498      Arsen Zakharyan             ru RUS
517                499       Bryan Zaragoza             es ESP
518                500        Igor Zubeldia             es ESP
519                 Rk               Player             Nation

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                   Pos              Squad                Age
0                MF,FW         Celta Vigo             19-340
1                   DF             Getafe             26-283
2                   FW            Sevilla             25-323
3                   DF              Elche             24-274
4                   GK           Valencia             24-357
..                 ...                ...                ...
515                 FW          Barcelona             18-158
516                 MF      Real Sociedad             22-206
517              FW,MF         Celta Vigo             24-100
518                 DF      Real Sociedad             28-263
519                Pos              Squad                Age

    Unnamed: 6_level_0 Playing Time                ... Per 90 Minutes        \
                  Born           MP  Starts   Min  ...            Ast   G+A
0                 2006            8       0   184  ...           0.00  0.49
1                 1999           10       8   690  ...           0.13  0.13
2                 2000           14       8   852  ...           0.21  0.53
3                 2001           15      14  1289  ...           0.00  0.00
4                 2000           16      16  1440  ...           0.00  0.00
..                 ...          ...     ...   ...  ...            ...   ...
515               2007           13      12  1079  ...           0.58  1.08
516               2003           10       1   268  ...           0.00  0.00
517               2001           14       8   757  ...           0.12  0.12
518               1997           13      13  1170  ...           0.08  0.08
519               Born           MP  Starts   Min  ...            Ast   G+A

                                                      Unnamed: 36_level_0
     G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches
0    0.49    0.49  0.79  0.04    0.82  0.79      0.82             Matches
1    0.00    0.13  0.03  0.05    0.08  0.03      0.08             Matches
2    0.32    0.53  0.41  0.08    0.50  0.41      0.50             Matches
3    0.00    0.00  0.02  0.01    0.03  0.02      0.03             Matches
4    0.00    0.00  0.00  0.00    0.00  0.00      0.00             Matches
..    ...     ...   ...   ...     ...   ...       ...                 ...
515  0.33    0.92  0.39  0.36    0.75  0.25      0.61             Matches
516  0.00    0.00  0.04  0.23    0.27  0.04      0.27             Matches
517  0.00    0.12  0.08  0.22    0.30  0.08      0.30             Matches
518  0.00    0.08  0.02  0.05    0.07  0.02      0.07             Matches
519  G-PK  G+A-PK    xG   xAG  xG+xAG  npxG  npxG+xAG             Matches

[520 rows x 37 columns]

In [192]:
df.columns = df.columns.droplevel(0)
df = df[df['Player'] != 'Player'].copy()

In [193]:
df.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,...,0.00,0.49,0.49,0.49,0.79,0.04,0.82,0.79,0.82,Matches
1,2,Abdel Abqar,ma MAR,DF,Getafe,26-283,1999,10,8,690,...,0.13,0.13,0.00,0.13,0.03,0.05,0.08,0.03,0.08,Matches
2,3,Akor Adams,ng NGA,FW,Sevilla,25-323,2000,14,8,852,...,0.21,0.53,0.32,0.53,0.41,0.08,0.50,0.41,0.50,Matches
3,4,David Affengruber,at AUT,DF,Elche,24-274,2001,15,14,1289,...,0.00,0.00,0.00,0.00,0.02,0.01,0.03,0.02,0.03,Matches
4,5,Julen Agirrezabala,es ESP,GK,Valencia,24-357,2000,16,16,1440,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches

In [194]:
df.shape

(500, 37)

In [195]:
df_liga = df[df['Pos'].str.contains('MF', na=False)].copy()

In [196]:
df_liga = df_liga.reset_index(drop=True)

In [197]:
df_liga.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,...,0.00,0.49,0.49,0.49,0.79,0.04,0.82,0.79,0.82,Matches
1,6,Lucien Agoume,fr FRA,MF,Sevilla,23-312,2002,13,11,962,...,0.19,0.28,0.09,0.28,0.03,0.14,0.17,0.03,0.17,Matches
2,7,Marc Aguado,es ESP,MF,Elche,25-299,2000,15,12,998,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,Matches
3,8,Pablo Agudín,es ESP,"MF,FW",Oviedo,18-040,2007,4,0,70,...,0.00,0.00,0.00,0.00,0.05,0.00,0.05,0.05,0.05,Matches
4,11,Ilias Akhomach,ma MAR,"MF,FW",Villarreal,21-246,2004,9,2,188,...,0.00,0.00,0.00,0.00,0.30,0.32,0.62,0.30,0.62,Matches

In [198]:
df_liga

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,...,0.00,0.49,0.49,0.49,0.79,0.04,0.82,0.79,0.82,Matches
1,6,Lucien Agoume,fr FRA,MF,Sevilla,23-312,2002,13,11,962,...,0.19,0.28,0.09,0.28,0.03,0.14,0.17,0.03,0.17,Matches
2,7,Marc Aguado,es ESP,MF,Elche,25-299,2000,15,12,998,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,Matches
3,8,Pablo Agudín,es ESP,"MF,FW",Oviedo,18-040,2007,4,0,70,...,0.00,0.00,0.00,0.00,0.05,0.00,0.05,0.05,0.05,Matches
4,11,Ilias Akhomach,ma MAR,"MF,FW",Villarreal,21-246,2004,9,2,188,...,0.00,0.00,0.00,0.00,0.30,0.32,0.62,0.30,0.62,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,488,Carlos Vicente,es ESP,"MF,FW",Alavés,26-239,1999,16,8,906,...,0.00,0.40,0.10,0.10,0.32,0.21,0.54,0.09,0.30,Matches
243,491,Jan Virgili,es ESP,"FW,MF",Mallorca,19-145,2006,11,8,687,...,0.52,0.52,0.00,0.52,0.17,0.30,0.48,0.17,0.48,Matches
244,496,Axel Witsel,be BEL,MF,Girona,36-340,1989,13,13,1060,...,0.00,0.08,0.08,0.08,0.06,0.02,0.08,0.06,0.08,Matches
245,498,Arsen Zakharyan,ru RUS,MF,Real Sociedad,22-206,2003,10,1,268,...,0.00,0.00,0.00,0.00,0.04,0.23,0.27,0.04,0.27,Matches
246,499,Bryan Zaragoza,es ESP,"FW,MF",Celta Vigo,24-100,2001,14,8,757,...,0.12,0.12,0.00,0.12,0.08,0.22,0.30,0.08,0.30,Matches

In [199]:
df_liga = df_liga.drop(['Rk'],axis=1)

In [200]:
df_liga

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,2.0,...,0.00,0.49,0.49,0.49,0.79,0.04,0.82,0.79,0.82,Matches
1,Lucien Agoume,fr FRA,MF,Sevilla,23-312,2002,13,11,962,10.7,...,0.19,0.28,0.09,0.28,0.03,0.14,0.17,0.03,0.17,Matches
2,Marc Aguado,es ESP,MF,Elche,25-299,2000,15,12,998,11.1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,Matches
3,Pablo Agudín,es ESP,"MF,FW",Oviedo,18-040,2007,4,0,70,0.8,...,0.00,0.00,0.00,0.00,0.05,0.00,0.05,0.05,0.05,Matches
4,Ilias Akhomach,ma MAR,"MF,FW",Villarreal,21-246,2004,9,2,188,2.1,...,0.00,0.00,0.00,0.00,0.30,0.32,0.62,0.30,0.62,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Carlos Vicente,es ESP,"MF,FW",Alavés,26-239,1999,16,8,906,10.1,...,0.00,0.40,0.10,0.10,0.32,0.21,0.54,0.09,0.30,Matches
243,Jan Virgili,es ESP,"FW,MF",Mallorca,19-145,2006,11,8,687,7.6,...,0.52,0.52,0.00,0.52,0.17,0.30,0.48,0.17,0.48,Matches
244,Axel Witsel,be BEL,MF,Girona,36-340,1989,13,13,1060,11.8,...,0.00,0.08,0.08,0.08,0.06,0.02,0.08,0.06,0.08,Matches
245,Arsen Zakharyan,ru RUS,MF,Real Sociedad,22-206,2003,10,1,268,3.0,...,0.00,0.00,0.00,0.00,0.04,0.23,0.27,0.04,0.27,Matches
246,Bryan Zaragoza,es ESP,"FW,MF",Celta Vigo,24-100,2001,14,8,757,8.4,...,0.12,0.12,0.00,0.12,0.08,0.22,0.30,0.08,0.30,Matches

In [201]:
df_understat = pd.read_csv('league-players.csv', sep=';')

In [202]:
df_understat

     number                Player  xGChain90  xGBuildup90
0         1  Kylian Mbappe-Lottin       1.08         0.31
1         2         Ferrán Torres       1.13         0.22
2         3          Vedat Muriqi       0.50         0.18
3         4    Robert Lewandowski       1.30         0.36
4         5        Julián Álvarez       0.83         0.33
..      ...                   ...        ...          ...
491     492        Selton Sánchez       0.52         0.27
492     493          Pablo Agudín       0.06         0.00
493     494         Gorka Carrera       0.21         0.21
494     495          Carlos Macià       0.12         0.06
495     496           Juan Arango       0.00         0.00

[496 rows x 4 columns]

In [203]:
df_understat = df_understat.drop(['number'],axis=1)

In [204]:
df = pd.merge(df_liga, df_understat, on='Player', how='left')

In [205]:
df

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,xGChain90,xGBuildup90
0,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,2.0,...,0.49,0.49,0.79,0.04,0.82,0.79,0.82,Matches,NaN,NaN
1,Lucien Agoume,fr FRA,MF,Sevilla,23-312,2002,13,11,962,10.7,...,0.09,0.28,0.03,0.14,0.17,0.03,0.17,Matches,0.47,0.36
2,Marc Aguado,es ESP,MF,Elche,25-299,2000,15,12,998,11.1,...,0.00,0.00,0.00,0.00,0.01,0.00,0.01,Matches,0.15,0.15
3,Pablo Agudín,es ESP,"MF,FW",Oviedo,18-040,2007,4,0,70,0.8,...,0.00,0.00,0.05,0.00,0.05,0.05,0.05,Matches,0.06,0.00
4,Ilias Akhomach,ma MAR,"MF,FW",Villarreal,21-246,2004,9,2,188,2.1,...,0.00,0.00,0.30,0.32,0.62,0.30,0.62,Matches,1.03,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,Carlos Vicente,es ESP,"MF,FW",Alavés,26-239,1999,16,8,906,10.1,...,0.10,0.10,0.32,0.21,0.54,0.09,0.30,Matches,0.35,0.06
243,Jan Virgili,es ESP,"FW,MF",Mallorca,19-145,2006,11,8,687,7.6,...,0.00,0.52,0.17,0.30,0.48,0.17,0.48,Matches,0.60,0.19
244,Axel Witsel,be BEL,MF,Girona,36-340,1989,13,13,1060,11.8,...,0.08,0.08,0.06,0.02,0.08,0.06,0.08,Matches,0.43,0.39
245,Arsen Zakharyan,ru RUS,MF,Real Sociedad,22-206,2003,10,1,268,3.0,...,0.00,0.00,0.04,0.23,0.27,0.04,0.27,Matches,0.62,0.43
246,Bryan Zaragoza,es ESP,"FW,MF",Celta Vigo,24-100,2001,14,8,757,8.4,...,0.00,0.12,0.08,0.22,0.30,0.08,0.30,Matches,0.53,0.34

In [206]:
df.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY',
       'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR', 'Gls',
       'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'xAG', 'xG+xAG', 'npxG',
       'npxG+xAG', 'Matches', 'xGChain90', 'xGBuildup90'],
      dtype='object')

In [207]:
df = df.drop(columns=['Matches'])

In [208]:
df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,xGChain90,xGBuildup90
0,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,2.0,...,0.49,0.49,0.49,0.79,0.04,0.82,0.79,0.82,NaN,NaN
1,Lucien Agoume,fr FRA,MF,Sevilla,23-312,2002,13,11,962,10.7,...,0.28,0.09,0.28,0.03,0.14,0.17,0.03,0.17,0.47,0.36
2,Marc Aguado,es ESP,MF,Elche,25-299,2000,15,12,998,11.1,...,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.01,0.15,0.15
3,Pablo Agudín,es ESP,"MF,FW",Oviedo,18-040,2007,4,0,70,0.8,...,0.00,0.00,0.00,0.05,0.00,0.05,0.05,0.05,0.06,0.00
4,Ilias Akhomach,ma MAR,"MF,FW",Villarreal,21-246,2004,9,2,188,2.1,...,0.00,0.00,0.00,0.30,0.32,0.62,0.30,0.62,1.03,0.20

In [209]:
df = df.drop(columns=['PrgR','G+A-PK','xG+xAG'])

In [210]:
df.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,Gls,Ast,G+A,G-PK,xG,xAG,npxG,npxG+xAG,xGChain90,xGBuildup90
0,Jones El-Abdellaoui,ma MAR,"MF,FW",Celta Vigo,19-340,2006,8,0,184,2.0,...,0.49,0.00,0.49,0.49,0.79,0.04,0.79,0.82,NaN,NaN
1,Lucien Agoume,fr FRA,MF,Sevilla,23-312,2002,13,11,962,10.7,...,0.09,0.19,0.28,0.09,0.03,0.14,0.03,0.17,0.47,0.36
2,Marc Aguado,es ESP,MF,Elche,25-299,2000,15,12,998,11.1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.15,0.15
3,Pablo Agudín,es ESP,"MF,FW",Oviedo,18-040,2007,4,0,70,0.8,...,0.00,0.00,0.00,0.00,0.05,0.00,0.05,0.05,0.06,0.00
4,Ilias Akhomach,ma MAR,"MF,FW",Villarreal,21-246,2004,9,2,188,2.1,...,0.00,0.00,0.00,0.00,0.30,0.32,0.30,0.62,1.03,0.20

In [211]:
df.columns

Index(['Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY',
       'CrdR', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'Gls', 'Ast',
       'G+A', 'G-PK', 'xG', 'xAG', 'npxG', 'npxG+xAG', 'xGChain90',
       'xGBuildup90'],
      dtype='object')

In [212]:
df = df.drop(columns=['Nation', 'Pos', 'Squad', 'Age', 'Born',
                      'MP','Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY',
                       'CrdR', 'xG', 'npxG', 'npxG+xAG','Starts'])

In [213]:
df.head()

                Player  Min   90s  xAG PrgC PrgP   xAG  xGChain90  xGBuildup90
0  Jones El-Abdellaoui  184   2.0  0.1   18    0  0.04        NaN          NaN
1        Lucien Agoume  962  10.7  1.4   13   62  0.14       0.47         0.36
2          Marc Aguado  998  11.1  0.0    3   44  0.00       0.15         0.15
3         Pablo Agudín   70   0.8  0.0    1    1  0.00       0.06         0.00
4       Ilias Akhomach  188   2.1  0.7    9    7  0.32       1.03         0.20

In [214]:
df = df.drop(df.columns[3], axis=1)

In [220]:
df.head()

                Player  Min   90s PrgC PrgP xGChain90 xGBuildup90
0  Jones El-Abdellaoui  184   2.0   18    0         0           0
1        Lucien Agoume  962  10.7   13   62      0.47        0.36
2          Marc Aguado  998  11.1    3   44      0.15        0.15
3         Pablo Agudín   70   0.8    1    1      0.06         0.0
4       Ilias Akhomach  188   2.1    9    7      1.03         0.2

In [219]:
df = df.fillna(value='0')

In [224]:
df.dtypes

Player          object
Min              int64
90s            float64
PrgC           float64
PrgP           float64
xGChain90      float64
xGBuildup90    float64
dtype: object

In [223]:
df = df.astype({
    'Min': int, 
    '90s': float,
    'PrgC': float,
    'PrgP' : float,
    'xGChain90' : float,
    'xGBuildup90' : float
})

In [229]:
df['PrgC90'] = (df['PrgC'] / df['90s']).replace([np.inf, -np.inf], 0)
df['PrgP90'] = (df['PrgP'] / df['90s']).replace([np.inf, -np.inf], 0)

In [232]:
df.head()

                Player  Min   90s  xGChain90  xGBuildup90    PrgC90    PrgP90
0  Jones El-Abdellaoui  184   2.0       0.00         0.00  9.000000  0.000000
1        Lucien Agoume  962  10.7       0.47         0.36  1.214953  5.794393
2          Marc Aguado  998  11.1       0.15         0.15  0.270270  3.963964
3         Pablo Agudín   70   0.8       0.06         0.00  1.250000  1.250000
4       Ilias Akhomach  188   2.1       1.03         0.20  4.285714  3.333333

In [231]:
df = df.drop(columns=['PrgC', 'PrgP'])

In [233]:
df.to_csv("fbref.csv")