In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(
    {
        'A':[1,2,3,4],
        'B':[5,6,7,8],
        'C':[9,10,11,12]
    }
)

In [6]:
df

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [7]:
df = pd.read_csv('netflix_titles.csv')

In [8]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [10]:
df.tail()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [11]:
df.shape

(8807, 12)

In [12]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [13]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [14]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,8797,8798,8799,8800,8801,8802,8803,8804,8805,8806
show_id,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s8798,s8799,s8800,s8801,s8802,s8803,s8804,s8805,s8806,s8807
type,Movie,TV Show,TV Show,TV Show,TV Show,TV Show,Movie,Movie,TV Show,Movie,...,TV Show,Movie,Movie,TV Show,Movie,Movie,TV Show,Movie,Movie,Movie
title,Dick Johnson Is Dead,Blood & Water,Ganglands,Jailbirds New Orleans,Kota Factory,Midnight Mass,My Little Pony: A New Generation,Sankofa,The Great British Baking Show,The Starling,...,Zak Storm,Zed Plus,Zenda,Zindagi Gulzar Hai,Zinzana,Zodiac,Zombie Dumb,Zombieland,Zoom,Zubaan
director,Kirsten Johnson,NaN,Julien Leclercq,NaN,NaN,Mike Flanagan,"Robert Cullen, José Luis Ucha",Haile Gerima,Andy Devonshire,Theodore Melfi,...,NaN,Chandra Prakash Dwivedi,Avadhoot Gupte,NaN,Majid Al Ansari,David Fincher,NaN,Ruben Fleischer,Peter Hewitt,Mozez Singh
cast,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...","Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...","Kate Siegel, Zach Gilford, Hamish Linklater, H...","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...","Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...","Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",...,"Michael Johnston, Jessica Gee-George, Christin...","Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...","Santosh Juvekar, Siddharth Chandekar, Sachit P...","Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...","Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",NaN,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...","Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...","Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan..."
country,United States,South Africa,NaN,NaN,India,NaN,NaN,"United States, Ghana, Burkina Faso, United Kin...",United Kingdom,United States,...,"United States, France, South Korea, Indonesia",India,India,Pakistan,"United Arab Emirates, Jordan",United States,NaN,United States,United States,India
date_added,"September 25, 2021","September 24, 2021","September 24, 2021","September 24, 2021","September 24, 2021","September 24, 2021","September 24, 2021","September 24, 2021","September 24, 2021","September 24, 2021",...,"September 13, 2018","December 31, 2019","February 15, 2018","December 15, 2016","March 9, 2016","November 20, 2019","July 1, 2019","November 1, 2019","January 11, 2020","March 2, 2019"
release_year,2020,2021,2021,2021,2021,2021,2021,1993,2021,2021,...,2016,2014,2009,2012,2015,2007,2018,2009,2006,2015
rating,PG-13,TV-MA,TV-MA,TV-MA,TV-MA,TV-MA,PG,TV-MA,TV-14,PG-13,...,TV-Y7,TV-MA,TV-14,TV-PG,TV-MA,R,TV-Y7,R,PG,TV-14
duration,90 min,2 Seasons,1 Season,1 Season,2 Seasons,1 Season,91 min,125 min,9 Seasons,104 min,...,3 Seasons,131 min,120 min,1 Season,96 min,158 min,2 Seasons,88 min,88 min,111 min
listed_in,Documentaries,"International TV Shows, TV Dramas, TV Mysteries","Crime TV Shows, International TV Shows, TV Act...","Docuseries, Reality TV","International TV Shows, Romantic TV Shows, TV ...","TV Dramas, TV Horror, TV Mysteries",Children & Family Movies,"Dramas, Independent Movies, International Movies","British TV Shows, Reality TV","Comedies, Dramas",...,Kids' TV,"Comedies, Dramas, International Movies","Dramas, International Movies","International TV Shows, Romantic TV Shows, TV ...","Dramas, International Movies, Thrillers","Cult Movies, Dramas, Thrillers","Kids' TV, Korean TV Shows, TV Comedies","Comedies, Horror Movies","Children & Family Movies, Comedies","Dramas, International Movies, Music & Musicals"
description,"As her father nears the end of his life, filmm...","After crossing paths at a party, a Cape Town t...",To protect his family from a powerful drug lor...,"Feuds, flirtations and toilet talk go down amo...",In a city of coaching centers known to train I...,The arrival of a charismatic young priest brin...,Equestria's divided. But a bright-eyed hero be...,"On a photo shoot in Ghana, an American model s...",A talented batch of amateur bakers face off in...,A woman adjusting to life after a loss contend...,...,Teen surfer Zak Storm is mysteriously transpor...,A philandering small-town mechanic's political...,A change in the leadership of a political part...,"Strong-willed, middle-class Kashaf and carefre...",Recovering alcoholic Talal wakes up inside a s...,"A political cartoonist, a crime reporter and a...","While living alone in a spooky town, a young g...",Looking to survive in a world taken over by zo...,"Dragged from civilian life, a former superhero...",A scrappy but poor boy worms his way into a ty...

In [15]:
df.sort_values(by='title')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2036,s2037,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
2304,s2305,Movie,#AnneFrank - Parallel Stories,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019,TV-14,95 min,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol..."
2481,s2482,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,102 min,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ..."
2324,s2325,Movie,#FriendButMarried 2,Rako Prijanto,"Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,"June 28, 2020",2020,TV-G,104 min,"Dramas, International Movies, Romantic Movies",As Ayu and Ditto finally transition from best ...
5973,s5974,Movie,#Roxy,Michael Kennedy,"Jake Short, Sarah Fisher, Booboo Stewart, Dann...",Canada,"April 10, 2019",2018,TV-14,105 min,"Comedies, Romantic Movies",A teenage hacker with a huge nose helps a cool...
...,...,...,...,...,...,...,...,...,...,...,...,...
6177,s6178,TV Show,忍者ハットリくん,NaN,NaN,Japan,"December 23, 2018",2012,TV-Y7,2 Seasons,"Anime Series, Kids' TV","Hailing from the mountains of Iga, Kanzo Hatto..."
4914,s4915,TV Show,海的儿子,NaN,"Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,"April 27, 2018",2016,TV-14,1 Season,"International TV Shows, TV Dramas","Two brothers start a new life in Singapore, wh..."
7101,s7102,TV Show,마녀사냥,NaN,"Si-kyung Sung, Se-yoon Yoo, Dong-yup Shin, Ji-...",South Korea,"February 19, 2018",2015,TV-MA,1 Season,"International TV Shows, Korean TV Shows, Stand...",Four Korean celebrity men and guest stars of b...
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...
7108,s7109,Movie,최강전사 미니특공대 : 영웅의 탄생,Young Jun Lee,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,"September 1, 2018",2018,TV-Y7,68 min,Children & Family Movies,"Miniforce, a special task force of elite range..."

In [16]:
df2 = df.copy()

In [17]:
df2

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [19]:
df['type']

0         Movie
1       TV Show
2       TV Show
3       TV Show
4       TV Show
         ...
8802      Movie
8803    TV Show
8804      Movie
8805      Movie
8806      Movie
Name: type, Length: 8807, dtype: object

In [20]:
df.type

0         Movie
1       TV Show
2       TV Show
3       TV Show
4       TV Show
         ...
8802      Movie
8803    TV Show
8804      Movie
8805      Movie
8806      Movie
Name: type, Length: 8807, dtype: object

In [21]:
df.type.value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [ ]:
df = df.dropna()
#df = df.fillna(value='0')

In [23]:
df.shape

(5332, 12)

In [24]:
df ['release_year'] = df['release_year'].astype('str')

/tmp/ipykernel_8381/3193855952.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['release_year'] = df['release_year'].astype('str')

In [27]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year    object
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [28]:
df ['release_year'] = df['release_year'].astype('int')

/tmp/ipykernel_8381/2656154153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['release_year'] = df['release_year'].astype('int')

In [29]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [30]:
df.describe()

       release_year
count   5332.000000
mean    2012.742123
std        9.625831
min     1942.000000
25%     2011.000000
50%     2016.000000
75%     2018.000000
max     2021.000000

In [32]:
df.release_year.mean()

np.float64(2012.7421230307577)

In [33]:
df.release_year.median()

np.float64(2016.0)

In [34]:
df['new_coloumn'] = 5

/tmp/ipykernel_8381/594259072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['new_coloumn'] = 5

In [35]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_coloumn
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",5
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,5
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,5
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,5
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,5

In [36]:
df = df.drop('new_coloumn', axis=1)

In [37]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...

In [38]:
df['new_coloumn'] = 5

In [43]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_coloumn,minus_100
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",5,1893
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,5,1921
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...,5,1921
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...,5,1921
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies",When the father of the man she loves insists t...,5,1898

In [40]:
df.release_year + df.new_coloumn

7       1998
8       2026
9       2026
12      2026
24      2003
        ...
8801    2020
8802    2012
8804    2014
8805    2011
8806    2020
Length: 5332, dtype: int64

In [42]:
df['minus_100'] = df.release_year - 100

In [52]:
df.loc[7:5]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, new_coloumn, minus_100]
Index: []

In [51]:
df.loc[:,['release_year','rating']]

      release_year rating
7             1993  TV-MA
8             2021  TV-14
9             2021  PG-13
12            2021  TV-MA
24            1998  TV-14
...            ...    ...
8801          2015  TV-MA
8802          2007      R
8804          2009      R
8805          2006     PG
8806          2015  TV-14

[5332 rows x 2 columns]

In [54]:
df.iloc[0,1]

'Movie'

In [55]:
df.iloc[[0,1],:]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_coloumn,minus_100
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s...",5,1893
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...,5,1921

In [56]:
df =df[df['rating'] == 'R']

In [57]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_coloumn,minus_100
46,s47,Movie,Safe House,Daniel Espinosa,"Denzel Washington, Ryan Reynolds, Vera Farmiga...","South Africa, United States, Japan","September 16, 2021",2012,R,115 min,Action & Adventure,Young CIA operative Matt Weston must get a dan...,5,1912
48,s49,Movie,Training Day,Antoine Fuqua,"Denzel Washington, Ethan Hawke, Scott Glenn, T...",United States,"September 16, 2021",2001,R,122 min,"Dramas, Thrillers",A rookie cop with one day to prove himself to ...,5,1901
81,s82,Movie,Kate,Cedric Nicolas-Troyan,"Mary Elizabeth Winstead, Jun Kunimura, Woody H...",United States,"September 10, 2021",2021,R,106 min,Action & Adventure,"Slipped a fatal poison on her final job, a rut...",5,1921
122,s123,Movie,In the Cut,Jane Campion,"Meg Ryan, Mark Ruffalo, Jennifer Jason Leigh, ...","United Kingdom, Australia, France, United States","September 2, 2021",2003,R,118 min,Thrillers,After embarking on an affair with the cop prob...,5,1903
131,s132,Movie,Blade Runner: The Final Cut,Ridley Scott,"Harrison Ford, Rutger Hauer, Sean Young, Edwar...",United States,"September 1, 2021",1982,R,117 min,"Action & Adventure, Classic Movies, Cult Movies","In a smog-choked dystopian Los Angeles, blade ...",5,1882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8765,s8766,Movie,XX,"Jovanka Vuckovic, Annie Clark, Roxanne Benjami...","Natalie Brown, Jonathan Watton, Melanie Lynske...","Canada, United States","June 22, 2017",2017,R,81 min,Horror Movies,This four-part anthology of short horror films...,5,1917
8768,s8769,Movie,Y Tu Mamá También,Alfonso Cuarón,"Maribel Verdú, Gael García Bernal, Diego Luna,...",Mexico,"June 1, 2017",2001,R,106 min,"Dramas, Independent Movies, International Movies",When rich teens Tenoch and Julio meet the allu...,5,1901
8791,s8792,Movie,Young Adult,Jason Reitman,"Charlize Theron, Patton Oswalt, Patrick Wilson...",United States,"November 20, 2019",2011,R,94 min,"Comedies, Dramas, Independent Movies",When a divorced writer gets a letter from an o...,5,1911
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",5,1907
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,5,1909

In [58]:
df = df.reset_index()

In [59]:
df.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_coloumn,minus_100
0,46,s47,Movie,Safe House,Daniel Espinosa,"Denzel Washington, Ryan Reynolds, Vera Farmiga...","South Africa, United States, Japan","September 16, 2021",2012,R,115 min,Action & Adventure,Young CIA operative Matt Weston must get a dan...,5,1912
1,48,s49,Movie,Training Day,Antoine Fuqua,"Denzel Washington, Ethan Hawke, Scott Glenn, T...",United States,"September 16, 2021",2001,R,122 min,"Dramas, Thrillers",A rookie cop with one day to prove himself to ...,5,1901
2,81,s82,Movie,Kate,Cedric Nicolas-Troyan,"Mary Elizabeth Winstead, Jun Kunimura, Woody H...",United States,"September 10, 2021",2021,R,106 min,Action & Adventure,"Slipped a fatal poison on her final job, a rut...",5,1921
3,122,s123,Movie,In the Cut,Jane Campion,"Meg Ryan, Mark Ruffalo, Jennifer Jason Leigh, ...","United Kingdom, Australia, France, United States","September 2, 2021",2003,R,118 min,Thrillers,After embarking on an affair with the cop prob...,5,1903
4,131,s132,Movie,Blade Runner: The Final Cut,Ridley Scott,"Harrison Ford, Rutger Hauer, Sean Young, Edwar...",United States,"September 1, 2021",1982,R,117 min,"Action & Adventure, Classic Movies, Cult Movies","In a smog-choked dystopian Los Angeles, blade ...",5,1882

In [60]:
df = df.drop(['index'],axis=1)

In [64]:
for x in range (len(df.show_id)):
    if df['show_id'][x] == 's47':
      print(df['show_id'][x])
    else:
       print('not right')

s47
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right
not right

In [65]:
df2 = df.sample(n=100)

In [66]:
df3 = pd.concat([df,df2])

In [67]:
df3.shape

(878, 14)